@font-face {
    font-family: gc;
    src: url(/css/fonts/gcliff.ttf);
}



/* ----------------------- COLOR PALLETE-------------------------------------- */

:root {
    --MidnightBlue: #0e0e52;
    --NavyBlue: #150578;
    --BeauBlue: #cce1f5;
    --Coral: #ff825c;
    --Beige: #f9f7dc;
}


/* -------------------------------------------------------------------- */

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(252, 252, 252);
    /* line-height: 1.9; */
    color: #8c8c8c;
    font-size: medium;
    
}

header{
    min-height: 60vh;
}



/* ------------------------------------------------------------------ */

/* .nav-blue{
    background-color: #0e0e52;
} */

.bg-custom {
    background-color: rgb(33, 37, 41);
}

.navbar-nav{
    font-size: large;
}

.logo-text{
    font-size: xx-large;
    font-weight: 700;
}

/* ------------------------------------------------------------------------ */

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 0.5s forwards;
}

@keyframes smoothScroll {
    0%,
    30% {
        transform: translateY(0px);
        background-color: rgba(0, 0, 128, 0.233);
        padding-top: 15px;
    }
    /* 30%,
    60% {
        background-color: rgba(25, 25, 112, 0.555);
    } */
    100% {
        transform: translateY(0px);
        background-color: var(--MidnightBlue);
        box-shadow: 0 0 10px 0 #00000077;
    }
}


/* ----------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5{
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
}


a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: var(--Coral);
}

a,
a:hover {
    text-decoration: none !important;
    color: var(--BeauBlue);
}


/* -------------------------------------------------------------------------- */


.padding {
    padding: 5rem
}

.card {
    position: relative;
    display: flex;
    width: 350px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.textc {
    height: 300px !important;
}



h4 {
    line-height: .2 !important
}

.profile {
    margin-top: 16px;
    margin-left: 11px
}

.profile-pic {
    width: 58px
}

.cust-name {
    font-size: 18px
}

.cust-profession {
    font-size: 10px
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

.slick-slide {
    margin: 10px
}

/* ------------------------------------------------------------------------ */

footer{
    background-color:rgba(22, 22, 22, 0.884);
    font-family: gc;
    padding: 5vh 0;
    color: var(--BeauBlue);
}

footer a {
    color: coral;
}

footer a :hover {
    color: black;
    text-decoration: none;
}


/* ------------------------------------------------------------------------- */




/* -------------------------------------------------------------------------- */

