html {
    scroll-behavior: smooth;
    border-radius: 0;
}

.home-header {
    padding: 0px 0 100px;
    height: 100vh;
    background-color: #f48b29;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: scroll;
    color: #fbe6c2;
    /* background-attachment: fixed; */
}

.nav-item {
    padding-left: 10px;
}

.container-compress {
    padding: 0 5%;
}

.grey {
    background-color: rgb(238, 238, 238) !important;
}

.ml-auto {
    padding-left: 5%;
}

.hero-text-box {
    margin-top: 50px;
}

.box {
    min-height: 55vh;
}

.carousel-inner {
    height: 450px;
}

.our-partners {
    width: auto;
    background: linear-gradient( rgba(255, 255, 255, 0.465), rgba(0, 0, 0, 0.63)), url(/img/7.jpg);
    background-size: cover;
    background-position-y: center;
}

section {
    margin-top: 50px;
    min-height: 30vh;
}

.bg-custom{
    background-color: rgb(33,37,41);
}

.card-img-top {
    /* width:20vh;
    height: 30vw; */
    object-fit: cover;
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 1.3s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hover {
    transition: all 0.25s ease-in;
}

.hover:hover {
    margin-top: -10px;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.unit-4 a {
    text-decoration: none;
}

.brands {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 60px
}

.brands_slider_container {
    height: 130px;
    border: none;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff
}

.brands_slider {
    height: 100%;
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

.d-block w-100 {
    width: 70% !important;
}

.contact-front {
    background: linear-gradient(rgba(39, 38, 38, 0.4), rgba(24, 61, 92, 0.7)), url("/img/firmbee-com-SpVHcbuKi6E-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.transformed {
    -webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2);
    /* Chrome, Safari, Opera */
    transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2);
    /* Standard syntax */
}



/* ----------------------------ICON SLIDER-------------------------------*/

