@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;300;400&family=Nunito:wght@300;400&family=Open+Sans:wght@300;400&family=Poppins:wght@100;300;400&display=swap');
@font-face {
    font-family: fa;
    src: url(/css/fonts/TCCM____.TTF);
}

@font-face {
    font-family: gc;
    src: url(/css/fonts/gcliff.ttf);
}


/* -----------------------------FONT AREA-------------------------------------- */


/* @media screen and (max-width: 601px) {
    body{
        font-size: small;
    }
  } */


/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */


/* @media screen and (max-width: 600px) {
    
  } */

a {
    text-decoration: none;
}

.navbar-nav {
    font-size: large;
}

.logo-text {
    font-size: xx-large;
    font-weight: 800;
}


/* ----------------------- COLOR PALLETE-------------------------------------- */

:root {
    --MidnightBlue: #0e0e52;
    --NavyBlue: #150578;
    --BeauBlue: #cce1f5;
    --Coral: #ff825c;
    --Beige: #f9f7dc;
}


/* ---------------------------------------HTML TAGS-------------------------- */

html {
    scroll-behavior: smooth;
    border-radius: 0;
    font-size: medium;
}

section {
    margin-top: 50px;
    min-height: 30vh;
}


/* --------------------------- NAV ---------------------------------- */

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 0.7s forwards;
}

@keyframes smoothScroll {
    0%,
    30% {
        transform: translateY(0px);
        background-color: rgba(0, 0, 128, 0.233);
        padding-top: 15px;
    }
    30%,
    60% {
        background-color: rgba(25, 25, 112, 0.555);
    }
    100% {
        transform: translateY(0px);
        background-color: var(--MidnightBlue);
        box-shadow: 0 0 10px 0 #00000077;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}


/* ----------------HEAD SECTION------------------------- */

.home-header {
    padding: 0px 0 100px;
    height: 100vh;
    /* background-color: rgba(206, 73, 24, 0.932); */
    background-color: rgba(25, 25, 112, 0.884);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: scroll;
    color: #fbe6c2;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* background-attachment: fixed; */
}


/* ----------------------------------ID DEFIENED-------------------------------------------- */

#header {
    color: var(--BeauBlue);
}

#compname {
    color: #ff825c;
}

.bg-custom {
    background-color: rgb(33, 37, 41);
}

.grey {
    background-color: rgb(238, 238, 238) !important;
}

#hero-text-h2 {
    font-family: gc;
}

#mainNav {
    font-family: 'Montserrat', sans-serif;
}


/* ------------------------------------------------------------------------------------------*/


/* ---SVG HEAD------- */

.svg-home-d {
    height: 500px;
    width: 500px;
}

.container-compress {
    padding: 0 20%;
}


/* ------------------------------------------------------------------------------------------*/

.nav-item {
    padding-left: 10px;
}

.ml-auto {
    padding-left: 5%;
}

.box {
    min-height: 55vh;
}

.carousel-inner {
    height: 450px;
}

.our-partners {
    width: auto;
    background: linear-gradient(rgba(255, 255, 255, 0.465), rgba(0, 0, 0, 0.63)), url(/img/7.jpg);
    background-size: cover;
    background-position-y: center;
}

.card-img-top {
    /* width:20vh;
    height: 30vw; */
    object-fit: cover;
    margin: 0 auto;
}


/* ------------------------------BRANDS ---------------------------------------- */

.brands {
    width: 100%;
    padding-bottom: 0px;
}

.brands_slider_container {
    height: 130px;
    border: none;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff;
}

.brands_slider {
    height: 100%;
}

.brands_item {
    height: 100%;
}

.brands_item img {
    max-width: 100%;
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer;
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.brands_nav:hover i {
    color: #676767;
}

.brands_prev {
    left: 40px;
}

.brands_next {
    right: 40px;
}

.d-block w-100 {
    width: 70% !important;
}

.contact-front {
    background: linear-gradient(rgba(39, 38, 38, 0.4), rgba(24, 61, 92, 0.7)), url("/img/firmbee-com-SpVHcbuKi6E-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}

.transformed {
    -webkit-transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2);
    /* Chrome, Safari, Opera */
    transform: translate3d(0, 0, 60px) rotate3d(0, 1, 0, -60deg) scale3d(1, 1, 2);
    /* Standard syntax */
}


/* -----------------------SERVICES----------------- */

#services {
    background-color: var(--BeauBlue);
}


/* ----------------------------Footer------------------------------*/

footer {
    background-color: rgba(22, 22, 22, 0.884);
    font-family: gc;
    padding: 5vh 0;
}

footer a {
    color: coral;
}

footer a:hover {
    color: beige;
    text-decoration: none;
    transition: all 0.5s;
}

input {
    height: inherit;
}


/* ------------------- HOVER _EFFECTS-------------------------- */

.hover {
    transition: all 0.25s ease-in;
}

.hover:hover {
    margin-top: -10px;
    box-shadow: 7px 7px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


/* ------------------MEDIA QUERIES------------------------- */

@media screen and (max-width: 500px) {
    .carousel-inner {
        height: fit-content;
    }
    .home-header {
        height: max-content;
    }
    .logo-text {
        font-size: x-large;
    }
    .hero-text-box {
        margin-top: 0;
    }
}

@media (max-width: 600px) {
    .home-header {
        height: max-content;
    }
}