header {
    padding: 0px 0 100px;
    height: 100vh;
    background-image: url(/img/wallpaper-0.jpg);
}

section {
    padding: 150px 0;
}

.transparent {
    background-color: transparent;
}

.ml-auto {
    padding-left: 5%;
    ;
}

.hero-text-box{
    margin-top: 50px;
}