html {
    scroll-behavior: smooth;
    border-radius: 0;
}

.home-header {
    padding: 0px 0 100px;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(/img/delivery-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-attachment: scroll;
    background-attachment: fixed;
}

.container-compress {
    padding: 0 10%;
}

.ml-auto {
    padding-left: 5%;
}

.hero-text-box {
    margin-top: 50px;
}

.box {
    min-height: 55vh;
}

.carousel-inner {
    min-height:200px;
    height:300px;
    width: 100%;
}

.our-partners {
    width: auto;
    background: linear-gradient( rgba(255, 255, 255, 0.465), rgba(0, 0, 0, 0.63)), url(/img/7.jpg);
    background-size: cover;
    background-position-y: center;
}

section {
    margin: 50px 0;
    min-height: 30vh;
}

.card-img-top {
    /* width:20vh;
    height: 30vw; */
    object-fit: cover;
    margin: 0 auto;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 1.3s steps();
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0px);
    }
}

.unit-4 a {
    text-decoration: none;
}

.brands {
    width: 100%;
    padding-bottom: 0px;
    padding-top: 60px
}

.brands_slider_container {
    height: 130px;
    border: none;
    padding-left: 97px;
    padding-right: 97px;
    background: #fff
}

.brands_slider {
    height: 100%;
}

.brands_item {
    height: 100%
}

.brands_item img {
    max-width: 100%
}

.brands_nav {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 5px;
    cursor: pointer
}

.brands_nav i {
    color: #e5e5e5;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.brands_nav:hover i {
    color: #676767
}

.brands_prev {
    left: 40px
}

.brands_next {
    right: 40px
}

.d-block w-100 {
    width: 70% !important;
}

.contact-front {
    background: linear-gradient(rgba(156, 45, 132, 0.4), rgba(177, 104, 104, 0.6)), url("/img/firmbee-com-SpVHcbuKi6E-unsplash.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
}